/* colors */
$pri__blue: hsl(246, 80%, 60%);
$pri__light-red-work: hsl(15, 100%, 70%);
$pri__soft-blue-play: hsl(195, 74%, 62%);
$pri__light-red-study: hsl(348, 100%, 68%);
$pri__lime-green-exercise: hsl(145, 58%, 55%);
$pri__violet-social: hsl(264, 64%, 52%);
$pri__soft-orange-self-care: hsl(43, 84%, 65%);
$neut__vdk-blue: hsl(226, 43%, 10%);
$neut__dk-blue: hsl(235, 46%, 20%);
$neut__des-blue: hsl(235, 45%, 61%);
$neut__pale-blue: hsl(236, 100%, 87%);

/* fonts */
$ff: "Rubik", sans-serif;
$fs: 18px;
